/*div {
	border-style: solid;
	border-width: 1px;
	border-color: #F8F8F8;
	border-color: red;

}*/

.header {
	background-color: #f47322;
	color: white;
	position: fixed;
	z-index: 50;
	width: 100%;
	padding: 10 25 10 25px;
}

.nav {
	padding: 0px;
	margin: 0px;
}

.nav-links > a:hover,
.nav-links > a:focus,
.nav-links > a:link 
 {
	color: white;
}

.large-input {
		width: 300px;

}

.page-top-spacing {
	padding-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.property-image {
	width: 100%;
}

.body {
	background-color: #F0F0F0;

}

form {
	margin: 0px;
}

.main-body {
	padding: 0px 15px 20px 15px;
}

.logo {
	height: 40px;
	
}

.detail-panel {
	padding: 5px;
}

.property-thumbnail {
	width: 90px;
	height: 100%;
}

.user-thumbnail {
	width: 60px;
	height: 60px;
}

.property-thumb-details {
	margin-left: 100px;
	
	top: 0px;
}

.padding-top {
	padding-top: 20px;
}

.description-block {
	padding: 10 5 10 5px;

}

.grey-copy {
	color: grey;
}

.panel {
	-moz-box-shadow:0px 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 3px 10px rgba(0,0,0,0.1);
	box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}

.header-padding {
	padding-top: 5px;
	padding-bottom: 0px;
}

.selected-property {
	border-color: #f47322;
	border-style: solid;
	border-width: 1px;
}

.property-headline {
	padding-top: 10px;
	padding-left: 15px;
}

.location-link {
	font-size: 14pt;
}

.property-box {
	margin-top: 5px;
	position: relative;
	height: 100px;
	background-color: white;
}
.property-not-selected {
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;;
	position: relative;
	height: 100%;
	padding: 10px;
}
.property-selected {
	border-style: solid;
	border-width: 1px;
	border-color: #f47322;
	position: relative;
	height: 100%;
	padding: 10px;
}

.property-pointer {
	position: absolute;
	border-top-style: solid;
	border-right-style: solid;
	border-width: 1px; 
	border-color: #f47322;
	background-color: white;
	width: 14px;
	height: 14px;
	top:44%;
	right:-6px;
	z-index: 10;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */

}

.main-panel {
	padding: 0 15 15 15px;
}

.date-picker {
	top: 0;
}






